streamlit==1.25.0
numpy<2
pandas
torch
transformers>=4.25.1
timm
layoutparser
matplotlib
onnx
onnxruntime
opencv-python!=4.7.0.68
python-multipart
huggingface-hub
rapidfuzz
langchain
langchain-community
unstructured
unstructured-inference
pdf2image
pytesseract
scipy
pdfplumber
sympy
coloredlogs
flatbuffers
tzdata
